* {
    outline: none;
    border: none;
}

body {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100vw;
}

main {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: inherit;
    height: 100vh;
    padding: 4rem;
}

.table-con > div {
    background-color: red;
}